
/*
JS Tree widget
*/

.jstree {
  font-size: 14px; 
}

.jstree-anchor .fa-database {
  color: #FF9800;
}

.jstree-anchor .fa-table {
  color: #3F51B5;
}

.jstree-anchor .fa-columns {
  color: #6877c9;
}

.jstree-widget {
  border: 1px solid #CCC;
  border-radius: 5px;
  overflow: hidden;
}

.jstree-widget label {
  padding: 10px;
  background: #CCC;
  display: block;
  margin-bottom: 0;
}

.jstree-widget .jstree-widget__content {
  padding: 10px; 
}


/*
Query Parameters
*/


/*
Query Parameters
*/

li.treewalker-parameters--list-item {
  display: flex;
  flex-direction: row;
  padding: 10px 0;  
}

select.treewalker-parameters--type-select {
  width: 20%;
}

.treewalker-parameters--elements-group { 
  display: flex; 
}

.treewalker-parameters--parameter-group { 
  display: flex; 
}

.treewalker-parameters--parameter-group > * {
  margin: 0 5px;
}

.treewalker-parameters--parameter-group > input {
  min-width: 200px;
}

.treewalker-parameters--options input {
  min-width: 300px;
}

.treewalker-parameters--buttons {
  margin-left: 5px;
}

@media only screen and (max-width: 1240px) {
  li.treewalker-parameters--list-item { 
    flex-direction: column;
    flex-wrap: wrap;
  }

  select.treewalker-parameters--type-select {
    width: 100%;
  }
  .treewalker-parameters--elements-group {
    justify-content: space-between;
    flex-direction: column;
  }

  .treewalker-parameters--parameter-group > input {
    min-width: auto;
    margin: 10px 0;
    margin-right: 10px;
    width: auto;
    flex: 1;
  }

  .treewalker-parameters--parameter-group > input {
    min-width: auto;
    margin: 10px 0;
    margin-right: 10px;
    width: auto;
    flex: 1;
  }

  .treewalker-parameters--parameter-group > input:last-child {
    margin-right: 0;
  }

  .treewalker-parameters--buttons {
    margin-top: 10px;
    flex-direction: row;
  }
}
